<div class="row flex-nowrap">
    <div class="col-auto px-0 bg-light">

        <div id="basic" class="collapse collapse-horizontal border-end">

            <h4 class="text-center text-white bg-success p-2">Информация</h4>
            <div class="accordion accordion-flush" id="accordionInfo">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item m-1">
                        <NavLink Match="NavLinkMatch.All" href="core" class="nav-link text-dark"
                            ActiveClass="text-white bg-success">
                            Руководство .NET
                        </NavLink>
                    </li>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="showCoreBasic">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#coreBasic" aria-expanded="false" aria-controls="coreBasic">
                                Основы
                            </button>
                        </h2>
                        <div id="coreBasic" class="accordion-collapse collapse" aria-labelledby="showCoreBasic"
                            data-bs-parent="#accordionInfo">
                            <div class="accordion-body p-1">
                                <ul class="list-unstyled">
                                    <li>
                                        <NavLink href="core/begin" class="nav-link fw-light text-dark"
                                            ActiveClass="text-white bg-success">
                                            Введение в .NET
                                        </NavLink>
                                    </li>
                                </ul>
                                <ul class="list-unstyled">
                                    <li>
                                        <NavLink href="core/runtime" class="nav-link fw-light text-dark"
                                            ActiveClass="text-white bg-success">
                                            Среда исполнения
                                        </NavLink>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="showCoreCreate">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#coreCreate" aria-expanded="false" aria-controls="coreCreate">
                                Написание типов
                            </button>
                        </h2>
                        <div id="coreCreate" class="accordion-collapse collapse" aria-labelledby="showCoreCreate"
                            data-bs-parent="#accordionInfo">
                            <div class="accordion-body p-1">
                                <ul class="list-unstyled">
                                    <li>
                                        <NavLink href="create/origin" class="nav-link fw-light text-dark"
                                            ActiveClass="text-white bg-success">
                                            Основы типов
                                        </NavLink>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </ul>
            </div>

        </div>
    </div>
    <div class="col ps-md-2">
        <a href="/" data-bs-target="#basic" data-bs-toggle="collapse" class="btn btn-light border text-dark mb-2"><i
                class="fa fa-bars"></i>
            Содержание</a>
        <div class="row">
            <div class="col-12">
                @ChildContent
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}