@inherits LayoutComponentBase

<HeaderPartial />

<main role="main" class="pb-1">
    <div class="container-fluid">
        <SidebarComponent BookId="1">
            @Body
        </SidebarComponent>
    </div>
</main>