@page "/about"

<PageTitle>О приложении - .NET книга</PageTitle>

<div class="border-1 bg-light shadow rounded-1 p-2">

    <h1>.NET книга</h1>

    <hr />

    <p>Информационное приложение по технологиям программирования на платформе .NET.</p>

    <p>
        <a class="btn btn-outline-dark" target="_blank" href="https://github.com/kanadeiar/dotnetbook">
            <i class="fab fa-git"></i>
            GitHub
        </a>
    </p>

    <p>
        <a class="btn btn-outline-info" href="mailto: kanadeiar@gmail.com">Почта для связи: kanadeiar@gmail.com</a>
    </p>

    <p>© 2023 kanadeiar</p>
</div>