@page "/"

<PageTitle>Главная - .NET книга</PageTitle>

<div class="border-1 bg-light shadow rounded-1 p-2">

    <h1>.NET книга</h1>

    <div class="row">
        <div class="col-md-6 my-2">
            <h4>О приложении</h4>

            <hr />

            <p>Данное информационное приложение посвящено языку программирования С# и семейству технологий программирования на платформе .NET (ASP.NET Core, WPF, Entity Framework и т.д.).</p>

            <p>Будут выкладываться различные руководства и учебные материалы, статьи и примеры.</p>

            <p>Поскольку жизнь не стоит на месте, все материалы по возможности дополняются и обновляются, чтобы
                соответствовать духу времени и не терять своей актуальности.</p>

            <p>По всем вопросам касательно приложения пишите по адресу <a
                    href="mailto: kanadeiar@gmail.com">kanadeiar@gmail.com</a>.</p>

            <p>Спасибо за использование приложения.</p>
        </div>
        <div class="col-md-6 my-2">
            <h4>Что нового</h4>

            <hr />

            <div class="my-3">
                <p class="mb-0">Обновлены разделы "Мехнизмы" и "Создание типов"</p>
                <p>09.03.2023</p>
            </div>

            <div class="my-3">
                <p class="mb-0">Обновлен раздел "Основы"</p>
                <p>28.02.2023</p>
            </div>

            <div class="my-3">
                <p class="mb-0">Добавлены основные статьи</p>
                <p>25.02.2023</p>
            </div>

            <div class="my-3">
                <p class="mb-0">Приложение опубликовано</p>
                <p>24.02.2023</p>
            </div>

            <div class="my-3">
                <p class="mb-0">Начало создания приложения</p>
                <p>02.02.2023</p>
            </div>
        </div>
    </div>

</div>









