@page "/share"

<PageTitle>Поделиться - .NET книга</PageTitle>

<div class="border-1 bg-light shadow rounded-1 p-2">

    <h1>Поделиться этим приложением</h1>

    <p>Поделиться приложением офлайн через QR-код:</p>

    <img src="img/dotnetbook.png" class="img-fluid" alt="QR поделиться офлайн" width="400" />

</div>