@page "/core"

<PageTitle>Руководство .NET - .NET книга</PageTitle>


<div class="border-1 bg-light shadow rounded-1 p-2">

    <h1>Руководство .NET</h1>

    <hr />

    <h4>Основы</h4>

    <p class="my-0">
        <NavLink href="core/begin" class="link-success">
            Введение в платформу .NET
        </NavLink>
    </p>
    <p class="my-0">
        <NavLink href="core/runtime" class="link-success">
            Среда исполнения
        </NavLink>
    </p>

    <h4>Написание типов</h4>

    <p class="my-0">
        <NavLink href="create/origin" class="link-success">
            Основы типов
        </NavLink>
    </p>

</div>

